.imageAnchor{
    -fx-background-color: pink;
    -fx-background-radius: 100em;
    -fx-border-radius: 50%;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius: 100em;
    -fx-border-radius: 50%;
}
.Headers{
    -fx-font-family: "Segoe Script";
    -fx-background-color: linear-gradient(to bottom right, lightpink,lightblue);
    -fx-background-radius: 250em;
    -fx-border-radius: 90%;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-alignment: center;
    /*-fx-alignment: center;*/
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}
.CatalogItem{
    -fx-text-fill: white;
    -fx-background-color: white;
    -fx-background-radius: 4em;
    -fx-border-radius: 10%;
    -fx-alignment: center;
}
.mainAnchor{
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-border-color: #979797;
}
.background-color{
    -fx-background-color: white;
}

.MainBorder{
    -fx-background-color: white;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: #979797;
}

.AnchorStyle{
    -fx-background-color: white;
    /*-fx-background-radius: 2em;*/
    -fx-border-radius: 1%;
}

.sideBar{
    -fx-background-color:linear-gradient(to bottom right, lightpink,lightblue);
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}

.smallHeader{
    -fx-font-family: "Segoe Script";
    -fx-background-color: linear-gradient(to bottom right, lightpink,lightblue);
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}

.rest{
    -fx-background-color: linear-gradient(to bottom right, lightpink,lightblue);
    /*-fx-alignment: center;*/
    -fx-text-fill: #979797;
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}

.creditUser{
    -fx-background-color: linear-gradient(to bottom right, lightpink,lightblue);
    /*-fx-alignment: center;*/
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}
.creditUser .floating-text {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.restTF{
    /*-fx-background-color: linear-gradient(to bottom right, lightpink,lightblue);*/
    /*-fx-alignment: center;*/
    -fx-text-fill: #979797;
    -fx-prompt-text-fill: #979797;
    -fx-border-color: linear-gradient(to bottom right, lightpink, lightblue,lightpink,lightblue);
}
.restTF .floating-text {
    -fx-text-fill: #979797;
}

.HeadersNoBackground{
    -fx-text-fill: white;
    /*-fx-background-color: #979797;*/
    /*-fx-background-radius: 250em;*/
    -fx-border-radius: 90%;
    -fx-alignment: center;
}

.Dialog{
    -fx-background-color: white;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: #979797;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

.ImageFrameCatalog{
    -fx-background-color: #FFF2F2;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: pink;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 20, 0, 0, 0);
}

.CatalogFrame{
    -fx-background-color: light pink;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: pink;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 20, 0, 0, 0);
}

.DialogItemCatalog{
    -fx-background-color: white;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: #979797;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 50, 0, 0, 0);
}
