.imageAnchor{
    -fx-background-color: pink;
    -fx-background-radius: 100em;
    -fx-border-radius: 50%;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius: 100em;
    -fx-border-radius: 50%;
}
.Headers{
    -fx-text-fill: white;
    -fx-background-color: #979797;
    -fx-background-radius: 250em;
    -fx-border-radius: 90%;
    -fx-alignment: center;
}
.CatalogItem{
    -fx-text-fill: white;
    -fx-background-color: white;
    -fx-background-radius: 4em;
    -fx-border-radius: 10%;
    -fx-alignment: center;
}
.mainAnchor{
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-border-color: #979797;
}
.background-color{
    -fx-background-color: white;
}

.MainBorder{
    -fx-background-color: white;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    /*-fx-alignment: center;*/
    -fx-border-color: #979797;
}

.AnchorStyle{
    -fx-background-color: white;
    /*-fx-background-radius: 2em;*/
    -fx-border-radius: 1%;
}