.mybutton{
    -fx-background-color: linear-gradient(to bottom right, pink, deeppink);
    -fx-cursor: hand;
}

.mybutton:hover{
    -fx-background-color: linear-gradient(to bottom right, lightpink, lightpink);
}

.mybutton-round{
    -fx-border-radius: 60px;
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 40px;
    -fx-max-height: 30px;
}

.nav-buttons{
    -fx-background-color: transparent;
    -fx-border-radius: 60px;
    -fx-background-radius: 5em;
}
.nav-buttons:hover{
    -fx-background-color: linear-gradient(to bottom right, lightpink, lightblue);
    -fx-text-fill: white;
}
.nav-buttons:focused {
    /*-fx-color: -fx-focused-base;*/
    -fx-background-color: linear-gradient(to bottom right, lightpink, lightblue);
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  8.5, 5, 4, 3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/* Simple Buttons On Program*/
.simple-btn{
    -fx-background-color: transparent;
    -fx-border-radius: 60px;
    -fx-background-radius: 5em;
}
.simple-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, seashell, lightseagreen);
    -fx-text-fill: white;
}
.simple-btn:focused {
    /*-fx-color: -fx-focused-base;*/
    -fx-background-color: linear-gradient(to bottom right, seashell, lightseagreen);
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  8.5, 5, 4, 3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.logout-btn{
    -fx-background-color: linear-gradient(to bottom left, lightpink,lightgoldenrodyellow);
    -fx-border-radius: 60px;
    -fx-background-radius: 5em;
    -fx-background-radius-color:red;
}
.logout-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, lightsalmon, coral);
    -fx-text-fill: white;
}




